title = "AboutUs"
url = "/about"
layout = "default"
==
<div class="aboutUs">
            <div class="container">
                <div class="img">
                    <img src="{{'assets/images/about.jpg'|theme }}"width="100%" />
                </div>
                {% content "aboutUs.htm" %}       
                </div>
            </div>
        </div>