title = "Contact"
url = "/contact"
layout = "default"

[mailTemplate chenmail]
templateName = "1"
responseFieldName = "name"
responseFieldEmail = "email"
==
<div class="contact">
    <div class="container"> 
        <div class="leftContainer">
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda" />
            <h4>Leave Us A Message</h4>
        	{% content "contact.htm" %}
            <br><a href="mailto:info@belovemoment.com">Email Us:info@belovemoment.com</a>
            <br><a href="tel:3056082397">Call Us:305.608.2397</a>
        </div>
        <div class="rightContainer">
    	   {% component 'chenmail' %}
        </div>
    </div>
</div>