title = "DearFriends"
url = "/dearfriends"

[gallery chengallery]
idGallery = "3"
lang = "All Photos"
jqueryinject = "no"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = "1"
mode = "slide"
speed = "500"
loop = "true"
auto = "false"
pause = "2000"
escKey = "true"
height = "270"
width = "270"
resizer = "auto"
==
<div class="dearfriends">
        <div class="dearfriendsSentence">
            {% content "dearFriends.htm" %}
        </div>      
        <div class="container">
            {% component 'chengallery' %}
        </div>
</div>