title = "Halloween"
url = "/halloween"
layout = "default"

[gallery halloweenalbum]
idGallery = "6"
lang = "All Photos"
jqueryinject = "yes"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = "1"
mode = "slide"
speed = "500"
loop = "true"
auto = "false"
pause = "2000"
escKey = "true"
height = "70"
width = "100"
resizer = "auto"
==
<div class="halloween">
    <div class="container">
        <div class="container">
            {% component 'halloweenalbum' %}
        </div>
    </div>
</div>