title = "Location"
url = "/location"
layout = "default"
==
<div class="location">
    <div class="container">
        <div class="img">
            <img src="{{'assets/images/location/theBean.jpg'|theme }}"width="100%" />
            {% styles %}
            <div class="desc">The Bean</div>
        </div>

        <div class="img">
            <img src="{{'assets/images/location/baha.jpg'|theme }}"width="100%" />
            {% styles %}
            <div class="desc">Baha'i Temple around Northwestern University area</div>
        </div>

        <div class="img">
            <img src="{{'assets/images/location/boardwalk.jpg'|theme }}"width="100%" />
            {% styles %}
            <div class="desc">Nature Boardwalk at Lincoln Park Zoo.</div>
        </div>

        <div class="img">
            <img src="{{'assets/images/location/chicagoRiver.jpg'|theme }}"width="100%" />
            {% styles %}
            <div class="desc">Chicago River Walk</div>
        </div>

        <div class="img">
            <img src="{{'assets/images/location/miltonPark.jpg'|theme }}"width="100%" />
            {% styles %}
            <div class="desc">Milton Lee Olive Park</div>
        </div>

        <div class="img">
            <img src="{{'assets/images/location/northAvenuBeach.jpg'|theme }}"width="100%" />
            {% styles %}
            <div class="desc">North Avenue Beach</div>
        </div>
    </div>

	   {% content "location.htm" %}

</div>