title = "newLocation"
url = "/newlocation"
layout = "default"
==

<div class="location">

	<div class="row">

	  <div class="col-md-4">
	    <div class="img">
	        <img src="{{'assets/images/location/theBean.jpg'|theme }}"width="100%" />
	            {% styles %}
	        <div class="desc"><p>The Bean</p></div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="img">
	        <img src="{{'assets/images/location/baha.jpg'|theme }}"width="100%" />
	            {% styles %}
	        <div class="desc"><p>Baha'i Temple around Northwestern University area</p></div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="img">
	        <img src="{{'assets/images/location/boardwalk.jpg'|theme }}"width="100%" />
	            {% styles %}
	        <div class="desc"><p>Nature Boardwalk at Lincoln Park Zoo.</p></div>
	    </div>
	  </div>
	</div>

	<div class="row">

	  <div class="col-md-4">
	    <div class="img">
	        <img src="{{'assets/images/location/chicagoRiver.jpg'|theme }}"width="100%" />
	            {% styles %}
	            <div class="desc"><p>Chicago River Walk</p></div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="img">
	         <img src="{{'assets/images/location/miltonPark.jpg'|theme }}"width="100%" />
	            {% styles %}
	            <div class="desc"><p>Milton Lee Olive Park</p></div>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="img">
	        <img src="{{'assets/images/location/northAvenuBeach.jpg'|theme }}"width="100%" />
	            {% styles %}
	        <div class="desc"><p>North Avenue Beach</p></div>
	    </div>
	  </div>
	</div>

	<div class="row">
	    <div class="col-md-12">
		    {% content "location.htm" %}
	    </div>
	</div>

</div>




