title = "Plugin components"
url = "/demo/plugins"
layout = "default"

[demoTodo]
max = "3"

[advanced]
idSlider = "1"
height = "400"
autoplay = "true"
fillmode = "0"
transaction = "1"
autoplayinterval = "2000"
pauseonhover = "1"
arrowkeynavigation = "true"
slideduration = "500"
mindragoffset = "40"
slidespacing = "0"
dragorientation = "1"
playorientation = "1"
chancetoshow = "2"
autocenter = "1"
orientation = "1"
spacingx = "8"
spacingy = "8"
steps = "1"
lanes = "1"
chancetoshowarrow = "1"
autocenterarrow = "2"
stepsarrow = "1"
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Plugin components</h1>
                <p>Plugins can provide components, simple building blocks that enrich any page or layout. Check out the todo example below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% component 'demoTodo' %}
</div>

<!-- Page Explanation -->
<div class="container">{% partial "explain/plugins.htm" %}</div>
<!-- Advance Slider -->
<div class="container">
    {% component 'advanced' %}
</div>
<!-- End Advanced Slider -->