title = "Price"
url = "/price"
layout = "default"
==
<div class="price">
    <div class="container">

      
            {% content "price.htm" %}
     

            {% content "priceTableInd.htm" %}
      

     
            {% content "priceTableGro.htm" %}
       

    </div>
</div>