title = "Steps"
url = "/steps"
layout = "default"
==
<div class="steps">
    <div class="container">
        <div class="steps_main">

            {% content "steps.htm" %}
        </div>
        <div class="steps_rules">
            <p>Step 1: Make a decision on your <a href="{{ 'price'|page }}">photo shoot package</a> and <a href="{{ 'location'|page }}">photo shoot location</a>.</p>
            {% content "steps_rules.htm" %}
        </div>
    </div>
</div>