<<<<<<< HEAD
/*---------------basic style-------------*/
* {
    margin: 0;
}

body {
    font-size: 15px;
    padding-top: 70px;

}

html, body {
    height: 100%;
}

a,p,h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font: 400 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #333;
    height: 120%;
}

h3 {
    font: 400 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #333;
    line-height: 1.5;
    height: 40px;
}

h4 {
    color: #333;
    font: 400 1.8em/120% 'Merienda', Helvetica, Sans-serif;

}

a,p {
    color: #404040;
    font-size: 12px;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    line-height: 1.75em;
    font-weight: 400;
}

ul li a, ul li span {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    line-height: 1.75em;
    font-weight: 400;
}
/*first*/
body{
    height: 100%
}
/*second*/
.wrapper{
    height: 95%;
}
/*wrapper-third*/
/*#layout-header{
    height: 10%;
}
*/
/*wrapper-third*/
#layout-content{
    height: 90%;
    margin-bottom: 10px;
    margin-top: 70px;
}
/*second*/
#layout-footer,
#footer{
    position: absolute;
    display: inline;
    border-top: 2px;
    width: 100%;
    height: 5%;
    margin-top: -3%;
    margin-left: 0.5%;
}
#layout-footer p{
    text-align: right;
    margin-right: 3%;
    margin-bottom: 0px;
    margin-top: 5px;
}
#layout-nav{
    //background-color: red;
    box-shadow: 10px 1px 10px #f3f5f4;

}


img {
    border-radius: 0.8em;
    width: 100%;
}

/*---------------basic style-------------*/
/*---------------------------Header--------------------------------*/

header#layout-header .navbar-brand {
    float: left;
    margin-left: 10px;
    padding: 5px;

    height: 70px;
    overflow: visible;

    padding-left: 5px;
    background-color: white;
}
.navbar-inverse{
    background-color: white;
}
.navbar-header .navbar-brand span {
    font: 400 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #333;
    font-weight: 600;
    line-height: 55px;
    margin-right: 10px;
}

.navbar-logo {
    float: right;
}

.navbar-logo img {
    height: 55px;
    width: 55px;
}
/*.navbar-header h3{
  font: 600 3.0em/125% 'Merienda', Helvetica, Sans-serif;
  color: #333;
  text-align: left;
  margin:0px;
  margin-right: 1%;
  width: 70%;
  float: left;
}*/

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #EE9614;
     background-color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #EE9614;
    background-color: white;

}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #EE9614;
    background-color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #EE9614;
    background-color: white;
}

ul.nav.navbar-nav {
    padding: 0px;
    background-color: white;
}

nav ul {
    padding: 0 20px;
    border-radius: 5px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul ul {
    display: none;
    background: transparent;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul li {
    padding: 10px 10px 0px 10px;
    float: left;
}

nav ul li:hover > ul {
    background-color: rgba(255, 255, 255, 0.51);
    display: block;
    /*width: auto;*/
}

nav ul li:hover a {
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a {
    display: block;
    padding: 0px 35px;
    color: #757575;
    text-decoration: none;

}

nav ul ul li {
    float: left;
    position: relative;
    padding-left: 0px;
    padding: 0px;

}

nav ul ul li a, nav ul ul li span {
    color: #757575;
    padding: 0px;
    line-height: 48px;
}

nav ul ul li a:hover, nav ul ul li span:hover {
    color: #EE9614;
    text-align: left;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

nav ul li ul li {
    float: left;
}

.nav > li > span {
  position: relative;
  display: block;
  padding: 10px 10px;
  cursor: pointer;
}

.navbar-header{
    //background-color: yellow;
}
/*ipad size*/
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0.5px;
        background-color: rgba(255, 255, 255, 0.71);
    }
    .navbar-nav>li {
        padding-top: 0px;
        padding-bottom: 10px;
        float: none;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
  
    .navbar-nav>li>ul>li>a{
        text-align: center;       
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }

    ul li span {
        font-weight: bold;

    }

    .nav > li > span {
      cursor: default;

    }

    ul.nav.navbar-nav {
        width: 100%;
        
    }
    nav ul ul {
        display: block;
        position: inherit;
    }

    nav ul ul li {
        display: inline-block;
        width: 25%;
        
    }
    .serviceSub li{
        width: 50%;
    }
    .gallerySub li{
        width: 33%;
    }
   /* .serviceSub a{
        background-color: pink;
        width: 100%;
    }*/

    nav ul ul li a, nav ul ul li span {
        padding-left: 1px;
        padding-right: 1px;
    }

    .navbar-collapse {
      max-height: none;
    }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle {
  background-color: #333333;
}
nav ul ul li a:hover, nav ul ul li span:hover {
    color: #EE9614;
    text-align: center;
}

/*ipadmini size*/
@media (min-width: 768px) {
    .container {
        width: inherit;
    }
     .nav > li > a {
      color: red;
    }

}

@media (max-width: 625px) {
    .navbar-header .navbar-brand span {
        font-size: 1.5em;
        line-height: 44px
    }

    .navbar-logo img {
        height: 35px;
        width: 35px;
    }


    header#layout-header .navbar-brand {
        height: inherit;
    }
}
/*iphone size 320*/
@media (max-width: 420px) {
    .navbar-header .navbar-brand span {
        font-size: 1.0em;
        line-height: 40px;
    }

    .navbar-logo img {
        height: 30px;
        width: 30px;
    }


    header#layout-header .navbar-brand {
        height: inherit;
    }
    nav ul li {
        padding:0px;
    }
    .navbar-inverse .navbar-nav >li >a,
    .navbar-inverse .navbar-nav >li >ul>li>a{
        padding:3px;
    }
    .navbar-inverse .navbar-nav >li >ul>li>a{
        font-size: 13px;
    }
}
/*---------------------------Header--------------------------------*/

/*----------------Home-------------------------*/
.home img{
     border-radius: 0em;
}
.theme-default .nivoSlider {
    margin-top: 3%;
    width: 75%;
}
#OctoDevelOctoSliderNivo{
    position: middle;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
.theme-default .nivoSlider {
    margin-top: 2%;
    width: 95%;
    } 
} 
@media (max-width: 320px) {
.theme-default .nivoSlider {
    margin-top: 30%;
    width: 80%;
    } 
} 



/*----------------Home-------------------------*/

/*----------------about us-------------------------*/
.jumbotron {
    padding: 0px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

.aboutImg {
    max-height: 300px;
}

.aboutUs p {
    font-size: 16px;
}


/*----------------about us-------------------------*/


/*----------------Gallery-------------------------*/
.gallery {
    width: 100%;
    height:100%;
    //background-color: green;
}

.col-md-4>span{
    text-align: center;
    height: 100%;
    width: 100%;
    top: 45%;
    position: absolute;
    font: 800 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #EE9614;
}
/*#wedding li{
    color: red;
}*/
.weddingSentence h3,
.engagementSentence h3,
.dearfriendsSentence h3,
.othersSentence h3{

    font: 400 2.0em/125% 'Petit Formal Script', Helvetica, Sans-serif;
    color: #333;
    padding-right: 10%;
    text-align: right;
    margin-bottom: 5%;
}
@media (max-width: 320px) {
.weddingSentence h3,
.engagementSentence h3,
.dearfriendsSentence h3,
.othersSentence h3{

    font: 300 1.0em/100% 'Petit Formal Script', Helvetica, Sans-serif;
    color: #333;
    padding-right: 10%;
    text-align: right;
    margin-bottom: 5%;
}
/*-----------------steps-------------------------*/
.steps_main {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    font-weight: bold;
}

.steps_main h4 {
    padding: 10px;
}

.steps_main h4 {
    //line-height: 1.5;
    height: auto;
    text-align: center;
}

.steps p {
    font-size: 17px;
}
.steps_rules{
    
    padding-left: 5%;
}
/*-----------------steps-------------------------*/





/*------------------------photograph-----------------------*/
.photographer h3 {
    height: 55px;
    text-align: center;
}
/*------------------------photograph------------------------*/





/*----------------Location-------------------------*/
.location{
    padding-top: 3%;
}
.location img{
    width: 302px;
    height: 208px;
    display: inline;
    position: middle;
    margin: 5px 50px 0px 50px;
    /*margin: 10px;
    border: 1px solid #ffffff;*/
}
.desc p{
    text-align: center;
}
.location > .row{
    padding-top: 10px;
}
.location h4{
    text-align: center;
    margin-top: -10px;
}

/*@media (max-width: 885px) {

    .location img{
    width: 480px;
    height: 330px;
    display: inline;
    position: middle;
    margin-left: 20%;
    margin-right: 20%;
}*/



/*----------------Location-------------------------*/
/*----------------Price-------------------------*/
.price p {
    font-size: 15px;
    margin-bottom: 0px;
}
.price>.container>h4{
    margin-top: 30px;
    text-align: center;
    min-height: 30px;
    font: 400 2.0em/120% 'Merienda', Helvetica, Sans-serif;

}

.price h4 {
    font-size: 15px;
    font-family: 'Merienda', Helvetica, Sans-serif;
    color: #404040;

}
/*----------------Price-------------------------*/
/*----------------contact form-------------------------*/
.contact{
    padding-top: 3%;
}

.leftContainer {
    width: 40%;
    height: 100%;
    float: left;
    margin-top: 20px;
}

.rightContainer {
    width: auto;
    height: 100%;
    margin-top: 15px;
}

.leftContainer h4 {
    //font: 300 1.0em/100% 'Roboto', serif;
    color: #404040;
    max-width: 400px;
    min-height: 30px;
    font: 400 2.0em/120% 'Merienda', Helvetica, Sans-serif;
}

.leftContainer p{
    text-align: left;
    font-size: 15px;
}
.leftContainer > a{
    font-size: 15px;
}
.leftContainer a:hover{
    color: #EE9614;
    font-size: 15px;
}

.form-groups {
    width: 50%;
    float: right;
    height: 100%;

}
.form-groups p{
    margin-bottom: 2px;
}

.form-control {
    border-radius: 2em;
}

#submitButton {
    -moz-box-shadow: inset 1px 0px 50px -23px #ffffff;
    -webkit-box-shadow: inset 1px 0px 50px -23px #ffffff;
    box-shadow: inset 1px 0px 50px -23px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: Comic Sans MS;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 20px;
    width: 60px;
    text-decoration: none;
    text-align: center;
}

.btn-lg {
    font-size: 14px;
}

.btn-primary {
    color: #999;
    background-color: #B9D8F4;
    border-color: #9CF0EE;
}

#submitButton:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

#submitButton:active {
    position: relative;
    top: 1px;
}
/*----------------contact form-------------------------*/

layout-header{
    height: 10%;
}



/*#layout-content{
    border-top: 70px;
    border-left: 10px;
    border-right: 10px;
}
*/









=======
/*---------------basic style-------------*/
* {
    margin: 0;
}

body {
    font-size: 15px;
    padding-top: 70px;


}

html, body {
    height: 100%;
}

a,p,h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font: 400 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #333;
    height: 120%;
}

h3 {
    font: 400 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #333;
    line-height: 1.5;
    height: 40px;
}

h4 {
    color: #333;
    font: 400 1.8em/120% 'Merienda', Helvetica, Sans-serif;

}

h5{
    color: #333;
    font: 400 1.0em/120% 'Merienda', Helvetica, Sans-serif;

}

a,p {
    color: #404040;
    font-size: 12px;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    line-height: 1.75em;
    font-weight: 400;
}

ul li a, ul li span {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    line-height: 1.75em;
    font-weight: 400;
}
/*first*/
body{
    height: 100%
}
/*second*/
.wrapper{
    height: auto;
}
/*wrapper-third*/
/*#layout-header{
    height: 10%;
}
*/
/*wrapper-third*/
#layout-content{
    height: 90%;
    margin-bottom: 10px;
    margin-top: 55px;

}
/*second*/
#layout-footer,
#footer{
    position: absolute;
    display: inline;
    border-top: 2px;
    width: 100%;
    height: 5%;
    margin-top: -1%;
    margin-left: 0.5%;

}
#layout-footer p{
    text-align: right;
    margin-right: 3%;
    margin-bottom: 0px;
    margin-top: 5px;

}
#layout-nav{
    
    box-shadow: 10px 1px 10px #f3f5f4;

}


img {
    border-radius: 0.8em;
    width: 100%;
}

/*---------------basic style-------------*/
/*---------------------------Header--------------------------------*/

header#layout-header .navbar-brand {
    float: left;
    margin-left: 10px;
    padding: 5px;

    height: 70px;
    overflow: visible;

    padding-left: 5px;
    background-color: white;
}
.navbar-inverse{
    background-color: white;
}
.navbar-header .navbar-brand span {
    font: 400 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #333;
    font-weight: 600;
    line-height: 55px;
    margin-right: 10px;
}

.navbar-logo {
    float: right;
}

.navbar-logo img {
    height: 55px;
    width: 55px;
}
/*.navbar-header h3{
  font: 600 3.0em/125% 'Merienda', Helvetica, Sans-serif;
  color: #333;
  text-align: left;
  margin:0px;
  margin-right: 1%;
  width: 70%;
  float: left;
}*/

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #EE9614;
     background-color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #EE9614;
    background-color: white;

}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #EE9614;
    background-color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #EE9614;
    background-color: white;
}

ul.nav.navbar-nav {
    padding: 0px;
    background-color: white;
}

nav ul {
    padding: 0 20px;
    border-radius: 5px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul ul {
    display: none;
    background: transparent;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul li {
    padding: 10px 10px 0px 10px;
    float: left;
}

nav ul li:hover > ul {
    background-color: rgba(255, 255, 255, 0.51);
    display: block;
    /*width: auto;*/
}

nav ul li:hover a {
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a {
    display: block;
    padding: 0px 35px;
    color: #757575;
    text-decoration: none;

}

nav ul ul li {
    float: left;
    position: relative;
    padding-left: 0px;
    padding: 0px;

}

nav ul ul li a, nav ul ul li span {
    color: #757575;
    padding: 0px;
    line-height: 48px;
}

nav ul ul li a:hover, nav ul ul li span:hover {
    color: #EE9614;
    text-align: left;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

nav ul li ul li {
    float: left;
}

.nav > li > span {
  position: relative;
  display: block;
  padding: 10px 10px;
  cursor: pointer;
}

.navbar-header{
    //background-color: yellow;
}
/*ipad size*/
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0.5px;
        background-color: rgba(255, 255, 255, 0.71);
    }
    .navbar-nav>li {
        padding-top: 0px;
        padding-bottom: 10px;
        float: none;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
  
    .navbar-nav>li>ul>li>a{
        text-align: center;       
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }

    ul li span {
        font-weight: bold;

    }

    .nav > li > span {
      cursor: default;

    }

    ul.nav.navbar-nav {
        width: 100%;
        
    }
    nav ul ul {
        display: block;
        position: inherit;
    }

    nav ul ul li {
        display: inline-block;
        width: 25%;
        
    }
    .serviceSub li{
        width: 50%;
    }
    .gallerySub li{
        width: 33%;
    }
   /* .serviceSub a{
        background-color: pink;
        width: 100%;
    }*/

    nav ul ul li a, nav ul ul li span {
        padding-left: 1px;
        padding-right: 1px;
    }

    .navbar-collapse {
      max-height: none;
    }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle {
  background-color: #333333;
}
nav ul ul li a:hover, nav ul ul li span:hover {
    color: #EE9614;
    text-align: center;
}

/*ipadmini size*/
@media (min-width: 768px) {
    .container {
        width: inherit;
    }
     .nav > li > a {
      color: red;
    }

}

@media (max-width: 625px) {
    .navbar-header .navbar-brand span {
        font-size: 1.5em;
        line-height: 44px
    }

    .navbar-logo img {
        height: 35px;
        width: 35px;
    }


    header#layout-header .navbar-brand {
        height: inherit;
    }
}
/*iphone size 320*/
@media (max-width: 420px) {
    .navbar-header .navbar-brand span {
        font-size: 1.0em;
        line-height: 40px;
    }

    .navbar-logo img {
        height: 30px;
        width: 30px;
    }


    header#layout-header .navbar-brand {
        height: inherit;
    }
    nav ul li {
        padding:0px;
    }
    .navbar-inverse .navbar-nav >li >a,
    .navbar-inverse .navbar-nav >li >ul>li>a{
        padding:3px;
    }
    .navbar-inverse .navbar-nav >li >ul>li>a{
        font-size: 13px;
    }
}
/*---------------------------Header--------------------------------*/

/*----------------Home-------------------------*/
.home img{
     border-radius: 0em;
}
.theme-default .nivoSlider {
    margin-top: 3%;
    width: 75%;
}
#OctoDevelOctoSliderNivo{
    position: middle;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
.theme-default .nivoSlider {
    margin-top: 2%;
    width: 95%;
    } 
} 
@media (max-width: 320px) {
.theme-default .nivoSlider {
    margin-top: 30%;
    width: 80%;
    } 
} 

home{
    background-color: pink;
}

/*----------------Home-------------------------*/

/*----------------about us-------------------------*/
.jumbotron {
    padding: 0px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

.aboutImg {
    max-height: 300px;
}

.aboutUs p {
    font-size: 16px;
    
}
.aboutUs{
    background-color: pink;
}

/*----------------about us-------------------------*/


/*----------------Gallery-------------------------*/
.gallery {
    width: 100%;
    height:100%;
    background-color: pink;
    
}

.col-md-4>span{
    text-align: center;
    height: 100%;
    width: 100%;
    top: 45%;
    position: absolute;
    font: 800 3.5em/125% 'Clicker Script', Helvetica, Sans-serif;
    color: #EE9614;
}
/*#wedding li{
    color: red;
}*/
.weddingSentence h3,
.engagementSentence h3,
.dearfriendsSentence h3,
.portraitSentence h3,
.othersSentence h3{

    font: 400 2.0em/125% 'Petit Formal Script', Helvetica, Sans-serif;
    color: #333;
    padding-right: 10%;
    text-align: right;
    margin-bottom: 5%;
}
@media (max-width: 320px) {
.weddingSentence h3,
.engagementSentence h3,
.dearfriendsSentence h3,
.portraitSentence h3,
.othersSentence h3{

    font: 300 1.0em/100% 'Petit Formal Script', Helvetica, Sans-serif;
    color: #333;
    padding-right: 10%;
    text-align: right;
    margin-bottom: 5%;
}
/*-----------------steps-------------------------*/

/*.steps_main {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    font-weight: bold;

}

.steps_main h4 {
    padding: 10px;
    background-color: green;
}

.steps_main h4 {
    //line-height: 1.5;
    height: auto;
    text-align: center;
}

.steps p {
    font-size: 17px;
}
.steps_rules p{
    color:red;
    padding-left: 5%;
}*/
.steps{
    background-color: pink;
}
/*-----------------steps-------------------------*/





/*------------------------photograph-----------------------*/
.photographer h3 {
    height: 55px;
    text-align: center;
}
/*------------------------photograph------------------------*/





/*----------------Location-------------------------*/
.location{
    padding-top: 3%;
    background-color: pink;
}
.location img{
    width: 302px;
    height: 208px;
    display: inline;
    position: middle;
    margin: 5px 50px 0px 50px;
    /*margin: 10px;
    border: 1px solid #ffffff;*/
}
.desc p{
    text-align: center;
}
.location > .row{
    padding-top: 10px;
}
.location h4{
    text-align: center;
    margin-top: -10px;
}

/*@media (max-width: 885px) {

    .location img{
    width: 480px;
    height: 330px;
    display: inline;
    position: middle;
    margin-left: 20%;
    margin-right: 20%;
}*/



/*----------------Location-------------------------*/
/*----------------Price-------------------------*/


.price{
    background-color: pink;

}


/*.price p {
    font-size: 15px;
    margin-bottom: 0px;
}
.price>.container>h4{
    margin-top: 30px;
    text-align: center;
    min-height: 30px;
    font: 400 2.0em/120% 'Merienda', Helvetica, Sans-serif;
}

.price h4 {
    font-size: 15px;
    font-family: 'Merienda', Helvetica, Sans-serif;
    color: #404040;
    text-align: center;
    background-color: red;

}*/
/*----------------Price-------------------------*/
/*----------------contact form-------------------------*/
.contact{
    background-color: pink;
    padding-top: 3%;
}

.leftContainer {
    width: 40%;
    height: 100%;
    float: left;
    margin-top: 20px;
}

.rightContainer {
    width: auto;
    height: 100%;
    margin-top: 15px;
}

.leftContainer h4 {
    //font: 300 1.0em/100% 'Roboto', serif;
    color: #404040;
    max-width: 400px;
    min-height: 30px;
    font: 400 2.0em/120% 'Merienda', Helvetica, Sans-serif;
}

.leftContainer p{
    text-align: left;
    font-size: 15px;
}
.leftContainer > a{
    font-size: 15px;
}
.leftContainer a:hover{
    color: #EE9614;
    font-size: 15px;
}

.form-groups {
    width: 50%;
    float: right;
    height: 100%;

}
.form-groups p{
    margin-bottom: 2px;
}

.form-control {
    border-radius: 2em;
}

#submitButton {
    -moz-box-shadow: inset 1px 0px 50px -23px #ffffff;
    -webkit-box-shadow: inset 1px 0px 50px -23px #ffffff;
    box-shadow: inset 1px 0px 50px -23px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: Comic Sans MS;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 20px;
    width: 60px;
    text-decoration: none;
    text-align: center;
}

.btn-lg {
    font-size: 14px;
}

.btn-primary {
    color: #999;
    background-color: #B9D8F4;
    border-color: #9CF0EE;
}

#submitButton:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

#submitButton:active {
    position: relative;
    top: 1px;
}
/*----------------contact form-------------------------*/

layout-header{
    height: 10%;
}



/*#layout-content{
    border-top: 70px;
    border-left: 10px;
    border-right: 10px;
}
*/

/*---------------------Halloween-------------------------*/
#halloween {
    background: black;

}
/*---------------------Halloween-------------------------*/






>>>>>>> bd62b5b894a28a78a2975e0dc297a3ac924e3298
