description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <title>Beloved Moment - {{ this.page.title }}</title>
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="{{ 'assets/images/logo.png'|theme }}" />
        {% styles %}
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Clicker+Script" />
        <link href="{{ [
            'assets/css/theme.css',      
            'partials/chenparallax/jquerry.fullPage.css',
            'assets/css/newTheme.css'
   
        ]|theme }}" rel="stylesheet">

        <link href="plugins/raviraj/rjgallery/assets/style/lightGallery.css" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Petit+Formal+Script" />       

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/javascript/app.js',
            'assets/javascript/parallax_mobile.js'
        ]|theme }}"></script>

        <script src="plugins/raviraj/rjgallery/assets/js/lightGallery.min.js"></script>
        
        {% scripts %}
    </head>
    <body>
        <div class="wrapper">
            <!-- Header -->
            <header id="layout-header">

                <!-- Nav -->
                <nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ 'home'|page }}">
                                
                                <span>Beloved Moment Inc.</span>
                                <div class="navbar-logo">
                                    <img src="{{'assets/images/logo.png'|theme }}" />
                                </div>
                            </a>
                        </div>

                        <div class="collapse navbar-collapse navbar-main-collapse">
                            <ul class="nav navbar-nav">
                                <li class="{% if this.page.id == 'home' %}active{% endif %}">
                                    <a href="{{ 'home'|page }}">Home</a>
                                </li>

                                <li class="{% if this.page.id == 'about' %}active{% endif %}">
                                    <a href="{{ 'about'|page }}">About us</a>
                                </li>

                                <li class="{% if this.page.id == 'try' %}active{% endif %}">
                                    <a>Special Event</a>
                                    <ul class="aboutSub">
                                        <li class="{% if this.page.id == 'halloween' %}active{% endif %}">
                                            <a href="{{ 'halloween'|page }}">Halloween</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="{% if this.page.id == 'gallery' %}active{% endif %}">
                                    <a>Gallery</a>
                                    <ul class="gallerySub">
                                        <li class="{% if this.page.id == 'gallery' %}active{% endif %}">
                                            <a href="{{ 'gallery'|page }}#wedding">Wedding</a>
                                        </li>
                                        <li class="{% if this.page.id == 'gallery' %}active{% endif %}">
                                            <a href="{{ 'gallery'|page }}#engagement">Engagement</a>
                                        </li>
                                        <li class="{% if this.page.id == 'gallery' %}active{% endif %}">
                                            <a href="{{ 'gallery'|page }}#dearfriends">DearFriends</a>
                                        </li>
                                        <li class="{% if this.page.id == 'gallery' %}active{% endif %}">
                                            <a href="{{ 'gallery'|page }}#portrait">Portrait</a>
                                        </li>
                                        <li class="{% if this.page.id == 'gallery' %}active{% endif %}">
                                            <a href="{{ 'gallery'|page }}#others">Others</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="{% if this.page.id == 'service' %}active{% endif %}">
                                    <a>Service</a>
                                    <ul class="serviceSub">
                                        <li class="{% if this.page.id == 'steps' %}active{% endif %}">
                                            <a href="{{ 'steps'|page }}">Steps</a>
                                        </li>
                                        <li class="{% if this.page.id == 'newlocation' %}active{% endif %}">
                                            <a href="{{ 'newlocation'|page }}">Location</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="{% if this.page.id == 'price' %}active{% endif %}">
                                    <a href="{{ 'price'|page }}">Price</a>
                                </li>

                                <li class="{% if this.page.id == 'contact' %}active{% endif %}">
                                    <a href="{{ 'contact'|page }}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- Content -->
            <section id="layout-content">
                {% page %}
            </section>
        </div>
            <!-- Footer -->
            <footer id="layout-footer">
                {% partial "footer" %}
            </footer>

            {% framework extras %}
    </body>
</html>