<form role="form"
      data-request="{{__SELF__}}::onOctoMailSent"
      data-request-update="'{{__SELF__}}::confirm': '.confirm-container'"
      data-request-success="$('.form-groups').slideUp(1000)">
    <div class="form-groups">
    <p>First and Last Name&nbsp;(required)</p>
    <div class="form-group">
        <input type="text" class="form-control" value=""  name="name" placeholder="Enter name">
    </div>
    <p>Email&nbsp;(required)</p>
    <div class="form-group">
        <input type="text" class="form-control" value="" name="email" placeholder="Enter Email">
    </div>
    <p>Phone Number&nbsp;(required)</p>
    <div class="form-group">
        <input type="text" class="form-control" value=""  name="phone" placeholder="Enter phone">
    </div>
    <p>Location want for shooting (optional)</p>
    <div class="form-group">
        <input type="text" class="form-control" value="" name="subject" placeholder="Enter Location">
    </div>
    <p>Message&nbsp;(required)</p>
    <div class="form-group">
        <textarea class="form-control" value="" name="body" placeholder="Enter Message" cols="30" rows="7"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg pull-right">Send</button>
    </div>

    <div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
    </div>
</form>