<style>
    ul{
        list-style: none outside none;
      padding-left: 0;
    }
    .{{ __SELF__ }} li {
        display: block;
        float: left;
        height: {{ height }}px;
        margin-bottom: 6px;
        margin-right: 6px;
        width: {{ width }}px;
    }
    .{{ __SELF__ }} li a {
        height: {{ height }}px;
        width: {{ width }}px;
    }
</style>
<script>
     $(document).ready(function() {
        $("#{{ __SELF__ }}-{{idGallery}}").lightGallery({
            // Elements
      thumbnail   : {{ thumbnail }},
      caption     : {{ caption }},
      desc        : {{ desc }},
      counter     : {{ counter }},
      controls    : {{ controls }},
      preload     : {{ preload }},

      // Transitions
      mode   : '{{ mode }}',
      useCSS : true,
      easing : 'linear',
      speed  : {{ speed }},

      // Navigation
      hideControlOnEnd : false,
      loop             : {{ loop }},
      auto             : {{ auto }},
      pause            : {{ pause }},
      escKey           : {{ escKey }},
      swipeThreshold    : 50,

      lang : { allPhotos: '{{ lang }}' },
        });
    });
</script>
<div>
    <ul id="{{ __SELF__ }}-{{idGallery}}" class="{{ __SELF__ }}">
        {% for image in gallery.images %}
            <li data-src="{{ image.path }}" data-title="{{ image.title }}" data-desc="{{ image.description }}">
                <a href="#">
                    <img src="{{ image.getThumb(width, height, {'mode': 'crop'}) }}" alt="{{ image.original.title }}" />
                </a>
            </li>
        {% endfor %}
    </ul>
</div>