
<div class="row">
  <div class="col-md-6">
    <span>Weeding</span>
    <img src="{{'assets/images/IMG_4248.jpg'|theme }}"width="100%" />       
  </div>
  <div class="col-md-6">       
  </div>
</div>

<div class="row">
  <div class="col-md-6">       
  </div>
  <div class="col-md-6">       
  </div>
</div>
