
    <h4>Individual Packages</h4>


<div class="row">
    <div class="col-md-4">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto" />
        <h4>Mini $80</h4>
        <ul>
            <li>Location and theme of your choice</li>
            <li>2-Hr photo shoot session</li>
            <li>at least 60 original digital images (no watermark)</li>
            <li>8 retouched image (using latest techniques)</li>
            <li>2 outfit changes</li>
            <li>E-delivery or Mail delivery in a CD</li>
        </ul>
    </div>

    <div class="col-md-4">
         <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto" />
        <h4>Basic $150</h4>
        <ul>
            <li>Location and theme of your choice</li>
            <li>2-Hr photo shoot session</li>
            <li>at least 130 original digital images (no watermark)</li>
            <li>18 retouched image (using latest techniques)</li>
            <li>3 outfit changes</li>
            <li>E-delivery or Mail delivery in a CD</li>
        </ul>
    </div>

    <div class="col-md-4">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto" />
        <h4>Premium $300</h4>
        
        <ul>
            <li>Location and theme of your choice</li>
            <li>3-Hr photo shoot session</li>
            <li>at least 220 original digital images (no watermark)</li>
            <li>28 retouched image (using latest techniques)</li>
            <li>4 outfit changes</li>
            <li>E-delivery or Mail delivery in a CD</li>
        </ul>
    </div>
</div>

        

