
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda" />
<h4>We hold our team and our clients to the following Service Rules:</h4>

<p>1.Appointments must be made in advance.</P>
<p>2.Full payments must be made prior to photo shoot.</P>
<p>3.The time spent on changing outfits and travelling are not considered service hours.</P>
<p>4.Beloved Moment Photography do not offer transportation services from your home to the shooting location.</P>
<p>5.We are not responsible for tickets (to certain non-public parks.) and parking services.</P>
