
<p>Step 2: Schedule an appointment under the "Contact Us" tab or via phone call or email.  
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Phone: 305-608-2397, email: info@belovedmoment.com)</br></p>
<p>Step 3: Meet with us for a free initial consultation. (Optional)</p>
<p>Step 4: Make Credit/Debit Card or Cash payment directly to us before the photo shoot.</p>
<p>Step 5: Go to your agreed-upon shooting location for your photo shoot.</p>
<p>Step 6: Once the photo shoot is finished, we will email you all the original pictures within 24 hours for selection. </p>
<p>Step 7: Once you select photos for retouch, email back to us with the selected picture identification numbers.</p>
<p>Step 8: Once we received your selections, we will start to retouch those pictures and send you the final ones within 4-7 business days.</p>
<p>Step 9: Feel free to submit feedback under the "Contact Us" tab via email.</p>