{% put styles %}
    <style>
        #{{ __SELF__ }} {
            list-style: none outside none;
            padding-left: 0;
        }
        #{{ __SELF__ }} li {
            display: block;
            float: left;
            height: {{ height }}px;
            margin-bottom: 6px;
            margin-right: 6px;
            width: {{ width }}px;
        }
        #{{ __SELF__ }} li a {
            height: {{ height }}px;
            width: {{ width }}px;
        }
        #{{ __SELF__ }} li a img {
            height: {{ height }}px;
            width: {{ width }}px;
        }
    </style>
{% endput %}
{% put scripts %}
    <script>
         $(document).ready(function() {
            $("#{{ __SELF__ }}").lightGallery({
                // Elements
                thumbnail   : {{ thumbnail }},
                caption     : {{ caption }},
                desc        : {{ desc }},
                counter     : {{ counter }},
                controls    : {{ controls }}, 
                preload     : {{ preload }},

                // Transitions
                mode   : '{{ mode }}',
                useCSS : true,
                easing : 'linear',
                speed  : {{ speed }},

                // Navigation
                hideControlOnEnd : false,
                loop             : {{ loop }},
                auto             : {{ auto }},
                pause            : {{ pause }},
                escKey           : {{ escKey }},
                swipeThreshold    : 50,

                lang : { allPhotos: '{{ lang }}' },
            });
        });
    </script>
{% endput %}

<div style="width:100%">
    <ul id="{{ __SELF__ }}" class="{{ __SELF__ }}">
        {% for image in gallery.images %}
            <li data-src="{{ image.path }}" data-title="{{ image.title }}" data-desc="{{ image.description }}">
                <a href="#"><img src="{{ image.getThumb(width, height, resizer) }}" /></a>
            </li>
        {% endfor %}
    </ul>
</div>
